/* CSS file */
@namespace mx "library://ns.adobe.com/flex/mx";

#navigation {
	top: 95;
	left: 10;
}

.controlBox {
	color: White;
	background-color:"0x000000";
	border-color: Black;
	border-style: Solid;
	corner-radius: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px; 
}

.controlBoxTrans {
	color: White;
	background-color:"0x000000";
	background-alpha:0.5;
	border-color: Black;
	border-style: Solid;
	corner-radius: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px; 
}


.mapStyle
{
    navigation-style-name: navStyle;
}

.navStyle
{
    top: 80;
    left: 10;
    navigation-slider-style-name: navSlider;
}

.infoStyle
{
	backgroundColor: "0x000000";
	color: White;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.queryInfoBox
{
	backgroundColor: "0x000000";
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.infoBox
{
	padding-top: 5px;
}

.poiContain
{
	backgroundColor: "0xBBBBBB";
	color: "0x000000";
	borderStyle: solid;
	cornerRadius: 5;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.noline
{
	text-decoration: none;
}

.line
{
	text-decoration: underline;
	color: blue;
}

.tableLinks
{
	text-decoration: underline;
	font-weight: bold;
}

mx|Alert
{
	font-size: 14px;
	font-weight: bold;
}

/*.InfoCloseButton {                        
   	disabledSkin: Embed(source="http://137.227.242.82/flex/ArcGIS_Flex/samples/src/assets/skins.swf", symbol="Callout_closeButtonDisabledSkin");                        
   	downSkin: Embed(source="http://137.227.242.82/flex/ArcGIS_Flex/samples/src/assets/skins.swf", symbol="Callout_closeButtonDownSkin");                        
   	overSkin: Embed(source="http://137.227.242.82/flex/ArcGIS_Flex/samples/src/assets/skins.swf", symbol="Callout_closeButtonOverSkin");                        
   	upSkin: Embed(source="http://137.227.242.82/flex/ArcGIS_Flex/samples/src/assets/skins.swf", symbol="Callout_closeButtonUpSkin");        
} */  

.navSlider
{
	/*dataTipPlacement: "top";
    showScaleInDataTip: true;
    tickColor: #FFFFFF;
    tickLength: 10;
    tickOffset: 13;
    tickThickness: 3;
    borderColor: #FFFFFF;
    themeColor: haloSilver;
    invertThumbDirection:true;
    showTrackHighlight:true;*/
}

